h1{
    font-family:serif;
    text-align: center;
    font-size: 70px;
    color:aquamarine;

}

.a{
    color:cornsilk;
    font-size: 30px;
}
/* 
.navigation{
    background-color: aquamarine;
    height:100px;
    width:100%;

} */



