h1{
    font-family:serif;
    font-size: 70px;
    color:#fff;
}

.header{
    background-color: black;
    border:1px solid black;
    display:flex;
    justify-content: space-around;
    border-radius: 25px;
    
}

.mac{
    margin-top: 100px;
}
    
.garlic{
    margin-top: 100px;
}


.image{
    padding-top: 200px;
    padding-left:100px;
    padding-bottom:50px;
}

.image2{
    padding-top:50px ;
}

.para1{

}



