h1{
    text-align: center;
    
    font-size: 70px;
    color:yellowgreen;

}

.a{
    color:cornsilk;
    font-size: 30px;
}

/* .image{
    background-image: url(chad-montano-MqT0asuoIcU-unsplash.jpg);
    background-size: cover;
    background-repeat:repeat-y;
width:900px;
    height: 900px;
    align-content: center; */
/* } */

